<header>
  <div class="container container-big">

      <nav class="main-nav header-nav">
        <ul class="header-list">
          <li class="header-list__logo">
            <img src="img/sprite/logo.png">
            <img class="logo" src="img/sprite/logo-text.png">
          </li>
          <li class="header-list__main">
            <a class="header-list__link" href="#">Home</a>
            <a class="header-list__link" href="#">About</a>
            <a class="header-list__link" href="#">Contact</a>
          </li>
          <li class="header-list__button">
            <button class="header-list__button-link" href="#">Let's talk</button>
          </li>
        </ul>
      </nav>
    
  </div> 
</header>
